#menumain{
   margin:0;
   white-space:nowrap;
   overflow:hidden;
   height:36px;
   background:url(menubg.gif) 0px 0px repeat-x;
}

#menumain .mainmenuiner {
    height:36px;
	padding:0;
    line-height:36px;
    overflow: hidden;
    margin:0px 0px 0px 32px; 
}

#menumain a.menumain:link,#menumain a.menumain:active,#menumain a.menumain:visited{
   display:block;
   float:left;
   height:36px;
   text-decoration: none;
   text-align:center;
   width:88px;
   color:#fbfffc;
   font:12px/39px 'SimSun',Arial,Sans-Serif;
   margin:0px;
}

#menumain a.menumain:hover{
   display:block;
   float:left;
   height:36px;
   color:#005a87; 
   text-decoration: none;
   text-align:center;
   width:88px;
   font:12px/39px 'SimSun',Arial,Sans-Serif;
   background:url(menu.gif) 0px 0px no-repeat;
   margin:0px;
} 