<div class="layui-side layui-bg-black">
    <div class="phphut-admin-left layui-side-scroll">
        <ul class="layui-nav layui-nav-tree site-demo-nav">
            <li class="layui-nav-item">
                <span class="layui-nav-title phphut-hide-show"><a href="javascript:;">最新活动</a></span>
                <ul class="layui-nav layui-nav-tree layui-hide">
                    <li class="layui-nav-item"><a href="javascript:;">最新活动</a></li>
                    <li class="layui-nav-item"><a href="javascript:;">产品</a></li>
                    <li class="layui-nav-item"><a href="javascript:;">解决方案</a></li>
                    <li class="layui-nav-item"><a href="javascript:;">大数据</a></li>
                </ul>
            </li>
            <li class="layui-nav-item">
                <span class="layui-nav-title phphut-hide-show"><a href="javascript:;">产品</a></span>
                <ul class="layui-nav layui-nav-tree layui-hide">
                    <li class="layui-nav-item"><a href="javascript:;">最新活动</a></li>
                    <li class="layui-nav-item"><a href="javascript:;">产品</a></li>
                    <li class="layui-nav-item"><a href="javascript:;">解决方案</a></li>
                    <li class="layui-nav-item"><a href="javascript:;">大数据</a></li>
                </ul>
            </li>
            <li class="layui-nav-item">
                <span class="layui-nav-title phphut-hide-show"><a href="javascript:;">解决方案</a></span>
            </li>
            <li class="layui-nav-item">
                <span class="layui-nav-title phphut-hide-show"><a href="javascript:;">賬號設置</a></span>
            </li>
            <span class="layui-nav-bar"></span>
        </ul>
    </div>
</div>