<div class="layui-header header header-demo">
    <div class="layui-main">
        <a class="logo" href="/">
            <img src="{$Think.__PUBLIC__}img/logo.png" alt="layui" />
        </a>
        <ul class="layui-nav">
            <li class="layui-nav-item ">
                <a href="javascript:;">文档</a>
            </li>
            <li class="layui-nav-item layui-this">
                <a href="javascript:;">演示</a>
            </li>

            <li class="layui-nav-item">
                <a href="javascript:;">社区</a>
            </li>
        </ul>
    </div>
</div>