/* ============ËÑË÷±íµ¥============== */
div.searchform_simple{
margin:0px 0px 0px 0px;
padding:8px 0px 0px 0px;
float:left;
}

div.searchform_simple .input{
border:0px #ddd solid;
width:173px;
height:24px;
line-height:20px;
background:url(../images/prosearch.gif) 0px 0px no-repeat;
padding:0px;
color:#efefef;
}

div.probutton{
margin:0px 0px 0px 0px;
padding:11px 0px 0px;
}