<style>
.pw_mainc1{width:102px;height:67px;float:left;background:url(images/menu.gif) 0px 0px no-repeat;position:relative;cursor:hand;}
.pw_mainc2{width:102px;height:67px;float:left;background:url(images/menu.gif) -102px 0px no-repeat;position:relative;cursor:hand;}
.pw_mainc3{width:102px;height:67px;float:left;background:url(images/menu.gif) -204px 0px no-repeat;position:relative;cursor:hand;}
.pw_mainc4{width:106px;height:67px;float:left;background:url(images/menu.gif) -306px 0px no-repeat;position:relative;cursor:hand;}
</style>
<a href="{#RP#}"><div class="pw_mainc1" id="pw_mainc1">
</div></a>
<a href="{#RP#}product/class/" ><div class="pw_mainc2" id="pw_mainc2">
</div></a>
<a href="{#RP#}news/class/"><div class="pw_mainc3" id="pw_mainc3">
</div></a>
<a href="{#RP#}page/contact/contact.php"><div class="pw_mainc4" id="pw_mainc4">
</div></a>