<!-start->
	<link rel="stylesheet" href="css/advsslides.css" />
	<script type="text/javascript" src="{#CP#}/js/ymjd.cn.js"></script>
	<script>
		$(function(){
			$('#s1_slides').slides({
				preload: true,
				preloadImage: 'images/s1-loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true
			});
		});
	</script>

	<div id="s1_container">
		<div id="s1_example">
			
			<div id="s1_slides">
				<div class="slides_container">
<!-start->
<!-list->
					<a href='{#url#}' title='{#title#}' target='_blank'><img src='{#src#}' width='960' height='400' alt='' border='0'></a>
<!-list->
<!-end->
                </div>
				
			</div>
			
		</div>
		
	</div>
<!-end->
